POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=ufdip
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=documents
MINIO_SECURE=False

OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=admin
ANTHROPIC_API_KEY="dummpy"
ANTHROPIC_MODELS= "[{'name': 'Claude Sonnet 4.5', 'id': 'claude-sonnet-4-5-20250929'}]"
GEMINI_MODELS= "[{'name': 'Gemini 3 Pro Preview', 'id': 'gemini-3-pro-preview'}]"
GEMINI_API_KEY="dummpy"